.main {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.create__user {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 20px;
  width: 100%;
}

.create__user h1 {
  align-self: flex-start;
}

.create__user__box {
  align-items: center;
  background: #e8e8a6;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 300px;
  width: 400px;
}

.user__name {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.create__user__box input {
  width: 100%;
  background: transparent;
  border: none;
  text-align: center;
  color: #219f94;
}


.create__user__box input::placeholder {
  color: #219f94;
}

.create__user__box input:focus {
  border: none;
  outline: none;
}

.create__user__box hr {
  border: 2px solid #219f94;
  width: 100%;
}

.create__user__box .btn {
  transition: all 5s ease-in-out;
  background: #219f94;
  width: 1000%;
}

.create__user__box .btn:hover {
  /* background-color: #e8e8a6;
  color: #219f94; */
  width: 20%;
}