* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  color: white;
  font-family: 'Inter', sans-serif;
}

body {
  scroll-behavior: smooth;
  background-color: #219f94;
  overflow-x: hidden;
}

section, footer {
  padding: 60px 0;
}

main.main {
  width: 100%;
}